
@{
    Layout = null;
}

<!DOCTYPE html>
<meta name="viewport" content="width=device-width" />
<title>Login</title>
@Styles.Render("~/Content/css")
@*@Scripts.Render("~/bundles/modernizr")*@
<!-- Bootstrap core CSS -->
<link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<!-- Plugin CSS -->
<link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<!-- Custom styles for this template -->
@*<link type="text/scss" href="~/Content/sb-admin.css" rel="stylesheet" />*@
<link type="text/css" href="~/Content/sb-admin.css" rel="stylesheet" />  
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body class="loginBody">
    <div style="margin-top:50px;" class="text-white text-center"> 
        <h1 class="display-1 text-center">Error</h1>
        <p style="color:#8F8E8C">
            No tiene permisos para acceder al sistema.<br />
            <span class="text-white">Contacte al administrador</span><br />
            <a class="btn btn-secondary" href="http://hospitalmontespana.com.ni/" role="button">ACEPTAR</a>


        </p>
    </div>
</body>
</html>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Content/vendor/popper/popper.js"></script>
@*<script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>*@
<script src="~/Content/vendor/bootstrap/js/bootstrap.js"></script>